/*Fuentes de Google*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
}
html{
    height: 100%;
}

body{
    min-height: 100%;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
}

.header{
    background-color: #189b39 ;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
    position: relative;
}
/*Leyenda de inicio sobre la foto de perfil*/
.tooltiptext {
    font-size: 10px;
    visibility: hidden;
    width: 50px;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top:100%;
    left:50%;
    margin-left:-50%;
}

/* Mostrar la leyenda de inicio al posarse sobre el boton de home */
.logo:hover .tooltiptext {
  visibility: visible;
}

.header .logo img{
    height: 50px;
    width: auto;
    transition: all 0.3s;
    border-radius: 50%;
    filter:invert(1);
}

.header .logo img:hover{
    transform: scale(1.2);
    filter: opacity(1);
    /*border-style: solid;
    border-width: 1px;
    border-color: #e2f1f8;*/
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;    
}

.header .nav-links li:hover,
/**/.overlay a:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #eceff1; 
}

.header .nav-links a:hover{
    color: #ffbc0e;
}

.menu {
    display:none;
}

.header .btn button,
.header .menu button{
    margin-left: 20px;
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover,
.header .menu button:hover{
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}


@media screen and (max-width: 800px){
    .nav-links, .btn {
        display: none;
    }
    .menu {
        display: inherit;
    }
}



/*Nav Mobile*/

.header a{
    text-decoration: none;  
    /*borramos el que teniamos en .header .nav-links a*/ 
}

.header .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(38, 100, 52, 0.95);
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

.header .overlay .overlay-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.header .overlay a{
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: #eceff1;
}

.header .overlay a:hover, 
.header .overlay a:focus{
    color: #ffbc0e;
}

.header .overlay .close{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
}

@media screen and (max-height:450px) {
    .header .overlay a{
        font-size: 20px;
    }
    .header .overlay .close{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
/*Estilos del cuerpo de la página*/
main{
    /*width: 90%;*/
    /*height: 400px;*/
}
h1{
    font-size: 28px;
    color:#ffbc0e;
}
h3{
    font-size: 24px;
    color:#ffbc0e;
}
article{
    font-size: 16px;
    text-align: center;
    
}
.image{
    width: 150px;
    padding: 5px;
    border-radius: 25%;
}
section{
    margin: 20px 20px;
    text-align: center;
    padding: 20px;
    
}
section ul{
    display: inline-block;
    text-align: left;
}

a[href^="mailto:"]{
    text-decoration: none;
    color:#fff;
}
a[href^="mailto:"]:hover{
    text-decoration: none;
    color: #ffbc0e;
}

li{
    list-style: none;
    text-align: center;
    padding: 5px;
}
span{
    font-weight: bolder;
    font-size: 22px;
    color: #85bedc;
}
/*Animación cambia el color del texto*/
@keyframes txtcompleto{
    0%{
        background-color: rgba(0,0,0,0.8);
        color: #3FE11B;
    }
    50%{
        background-color: #3FE11B ;
        color: rgba(0,0,0,0.8);
    }
    100%{
        background-color: rgba(0,0,0,0.8);
        color: #3FE11B;
    }
}

@keyframes txtcursando{
    0%{
        background-color: rgba(0,0,0,0.8);
        color:  #de2121;
    }
    50%{
        background-color:  #de2121 ;
        color: rgba(0,0,0,0.8);
    }
    100%{
        background-color: rgba(0,0,0,0.8);
        color:  #de2121;
    }
}

.cursando{
    color: #de2121;
    font-size: 14px;
    animation-name: txtcursando;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-fill-mode:both;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
.completo{
    color: rgb(25, 122, 25);
    font-size: 14px;
    animation-name: txtcompleto;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-fill-mode:both;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.container{
    margin: auto;
    text-align: center;
    width: 50%;
}
input[type=text],input[type=email],textarea{
    width: 90%;
    border-radius: 4px;
    margin: 5px;
    display: block;
}
label{
    text-align: left;
    border-radius: 4px;
    margin: 5px ;
    display: block;
}
.formbtn{
    text-align: center;
}
.formbtn input{
    margin:5px;
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.formbtn input:hover{
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}
@media screen and (max-width:768px) {
    .container{
        width: 90%;
    }
    
}
.hidden{
    display: none;
}
/*Estilos del pie de página*/
footer{
    height: 30vh;
    color: #fff;
    display: flex;
    justify-content:center;
    align-items: center;
    bottom: 0px;
}
footer p{
    font-size: 12px;
    margin: 5px 5px;

}
footer a{
    margin: 0px 5px;    
}
/*Cambiar el color de los iconos de fonts awesome*/
.fa-linkedin, .fa-facebook, .fa-instagram{
    color:#e2f1f8;
    transition: all 0.4s ease-in-out 0s;
}
.fa-linkedin:hover,
 .fa-facebook:hover,
 .fa-instagram:hover{
    transform: scale(2);
    color: #ffbc0e;
}
